name: Push to Replicate

on:
  push:
    branches: ["main"]

jobs:
  push_to_replicate:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Cog
        uses: replicate/setup-cog@v2

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Docker Login to Replicate
        run: echo ${{ secrets.REPLICATE_API_TOKEN }} | docker login https://r8.im -u ${{ github.actor }} --password-stdin

      - name: Build and Push to Replicate
        run: cog push r8.im/sanghyeonpjeong/flux_capybara_lora
